html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(54, 54, 54);
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html,body
{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#main:focus {
    outline: none;
    border: none;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

.line {
    width: 20px;
    height: 1px;
    background-color: rgb(54, 54, 54);
    margin: 4px;
}

.nav_links {
    text-transform: uppercase;
    font-size: 20px;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    clip-path: circle(0px at 88% 4%);
    -webkit-clip-path: circle(0px at 88% 4%);
    transition: all 0.5s ease-out;

    pointer-events: none;
}

.nav_links.open {
    clip-path: circle(1150px at 90% -10%);
    -webkit-clip-path: circle(1150px at 90% -10%);
    z-index: 2;
    pointer-events: all;
}

.nav_item a {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.nav_item {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 10px;
}

.nav_item a:hover, a:focus {
    border: none;
    background-color: #EEEEEE;
    color: cornflowerblue;
    transition: background-color 0.2s ease-in;
}

.nav_item a.current {
    color: cornflowerblue;
    border: none;
    /*font-weight: 600;
    background-color: #dbdbdb;
    transition: background-color 0.2s ease-in;*/
    padding: 6px 12px;
}

header {
    position: relative;
    padding: 10px 10px;
    margin: 30px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 10px;
    z-index: 999999;
}

header h1 {
    font-family: "Futura", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: rgb(54, 54, 54);
    font-size: 20px;
}

header h1 a {
    color: rgb(54, 54, 54);
}

.intro {
    height: 350px;
}

.intro h2 {
    padding: 60px 10% 15px;
    color: rgb(54, 54, 54);
    font-size: 40px;
    font-weight: 500;
}

.intro p {
    color: rgb(54, 54, 54);
    margin: 0px 10%;
    font-size: 15px;
}

.intro h2, .intro p {
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

/*
@keyframes slide {
    from {bottom: -50px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}
*/

@keyframes slide {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.intro p b {
    color: cornflowerblue;
    font-weight: 500;
}

.more_buttons {
    display: flex;
    font-size: 9px;
    padding: 25px 10% 15%;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes delay_load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes load_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.learn_more_bio {
    background-color: cornflowerblue;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

.more_projects {
    margin-left: 20px;
    font-size: 8px;

    line-height: 30px;
    width: 150px;
    height: 30px;
}

.learn_more_bio:hover {
    opacity: 0.9;
}

.more_buttons a {
    text-decoration: none;
}

.learn_more_bio a {
    color: #f0f0f3;
    text-decoration: none;
}

.more_projects a {
    color: cornflowerblue;
    text-decoration: none;
}

.more_projects a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    margin: 0px 32px 0px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
    grid-row-gap: 32px;
    justify-content: center;
    padding-bottom: 20px;

    animation-name: delay_load;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.container img {
    object-fit: cover;
}

img {
    width: 100%;
    height: 300px;
}

.img-one, .img-two {
    position: relative;
}

.img-one:hover, .img-two:hover {
    padding: 5px;
    transition: padding .2s ease-in;
}

.img-one:hover .info, .img-two:hover .info{
    visibility: visible;
    opacity: 1;
}

.info h1 {
    font-weight: 500;
}

.info {
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: rgb(80, 80, 80);
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in, visibility .4s ease-in;
}

/* ABOUT.HTML */
.about_me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0.5em;

    animation-name: load_appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

.about_me h1 {
    font-size: 30px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.about_me p {
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #676767;
}

.about_me a {
    color: cornflowerblue;
}

.tim {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.about-text {
    position: relative;
}

.view_resume {
    position: relative;
    margin: 0;
    padding: 0;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgb(32, 32, 32);
    width: 120px;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.view_resume:hover {
    background-color: cornflowerblue;
    color: white;
    transition: background-color 0.2s ease-in-out;
}


.view_resume a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* PROJECTS PAGE */
.projects {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5em 2em 200px;
    justify-content: center;

    animation-name: load_appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

.ht_container {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5em 2.5em 100px;
    justify-content: center;

    animation-name: load_appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

.ht_container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 10px 0px 30px;
}

.ht_container p {
    padding: 16px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.info_2 h1 {
    padding: 0;
    margin: 10px 0 15px;
}

.info_2 p {
    padding-left: 20px;
}

.projects img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.projects h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 2rem 0px 0px;
}

.projects p {
    padding: 16px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.text_one h1 {
    padding: 0;
    margin: 10px 0 40px;
}

.text_one h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.text_one p {
    color: #676767;
}

.info_1 {
    padding: 40px 20px 40px;
    color: #676767;
}

.info_1 p b {
    color: #363636;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.text_challenge {
    padding: 40px 0 40px;
    grid-row: 3 / 4;
}

.text_challenge h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.text_challenge p {
    color: #676767;
}

.text_goals {
    padding-top: 40px;
}

.text_goals h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.text_goals p {
    color: #676767;
}

.mockup {
    padding: 40px 0 40px;
}

.wireframes_2 {
    padding-bottom: 40px;
}

.wireframes_2 p {
    color: #676767;
}

.final_design {
    padding: 40px 0 40px;
}

.final_design h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.final_design p {
    color: #676767;
}

.home_image img, .profile_image img, .cart_image img {
    height: 100%;
}

.home_page_bullets, .profile_page_bullets, .cart_page_bullets {
    padding: 40px 30px 80px;
    line-height: 28px;
    color: #676767;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.bobile_full {
    padding-bottom: 40px;
}

.reflections {
    padding-top: 40px;
}

.reflections h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.reflections p {
    color: #676767;
}

.info_2 {
    padding-bottom: 40px;
    color: #676767;
}

.info_2 p b {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #363636;
}

.ht_final {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.text_two h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.text_two p {
    color: #676767;
}

.ht_final_header {
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    height: 300px;


    animation-name: load_appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

.flip-card {
    overflow: hidden;
}

.g-block {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.gcontainer {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 450px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    padding-top: 20px;
    padding-bottom: 200px;
    justify-content: center;
}

.gcontainer img {
    object-fit: cover;
    width: 450px;
    height: 450px;
}


.bobile_final {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.bobile_final_header {
    display: flex;
    justify-content: center;
    background-color: #C3D7FF;
    height: 300px;

    animation-name: load_appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

@media screen and (min-width: 600px) {
    
    .intro {
        height: 550px;
    }

    .intro h2 {
        padding: 150px 15% 15px;
        color: rgb(54, 54, 54);
        font-size: 50px;
        font-style: bold;
    }

    .intro p {
        color: rgb(54, 54, 54);
        margin: 0px 15%;
        font-size: 25px;
    }

    .projects {
        grid-template-columns: 1fr 1fr; /*350px 350px*/
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; /* 400px auto auto auto auto 400px auto;*/
        grid-column-gap: 1.5rem;
        margin: 0;
        padding: 0 40px 0;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .projects h1 {
        margin: 0px;
    }

    .projects p {
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
    }

    .projects img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .boba {
        width: 100%;
        height: 90%;
    }

    .info_1 {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px 0px 40px;
    }

    .info_1 h1 {
        font-size: 25px;
    }

    .info_1 p b {
        font-size: 20px;
    }

    .text_one {
        padding-top: 40px;
        grid-column: 1 / 3;
    }

    .text_one h1 {
        font-size: 35px;
        margin-bottom: 80px;
    }

    .text_one h2 {
        font-size: 20px;
    }

    .text_challenge {
        padding-top: 40px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        padding-bottom: 40px;
    }

    .text_challenge h3 {
        font-size: 20px;
    }

    .mockup {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        padding: 40px 0px 40px;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
    }

    .text_goals {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        padding: 40px 0 40px;
        margin: 0;
    }

    .text_goals h4 {
        font-size: 20px;
    }

    .wireframes_2 {
        padding-top: 40px;
        grid-column: 1 / 3;
    }

    .final_design {
        grid-column: 1 / 3;
        padding: 120px 0 0;
    }

    .final_design h3 {
        font-size: 20px;
    }

    .home_image {
        padding: 40px 0 40px;
    }

    .home_page_bullets {
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
    }

    .profile_image {
        padding: 60px 0 60px;
        grid-column: 2 / 3;
    }

    .cart_image {
        padding: 40px 0 40px;
    }

    .profile_page_bullets {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
    }

    .cart_page_bullets {
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
    }

    .bobile_full {
        grid-column: 1 / 3;
        padding-top: 40px;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
    }

    .reflections {
        grid-column: 1 / 3;
        padding: 40px 0 120px;
    }

    .reflections h3 {
        font-size: 20px;
    }

    .ht_container h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 35px;
        margin: 40px 0px 40px;
        grid-column: 1 / 3;
    }

    .ht_container p {
        padding: 16px;
        padding-left: 0;
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
    }

    .info_2 {
        padding-top: 20px;
        padding-bottom: 40px;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .info_2 h1 {
        padding: 0;
        margin: 10px 0 40px;
        font-size: 30px;
    }

    .info_2 p b {
        font-size: 20px;
    }

    .text_two {
        grid-column: 1 / 3;
        margin: 0;
        padding: 0;
        padding-top: 40px;
    }

    .text_two h2 {
        font-size: 20px;
    }

    .hamburger {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 35px;
    }

    .nav_links {
        /*position: static, height, width = 0px, flex-direction:row, */

        position: static;
        height: 31px;
        width: 330px;
        flex-direction: row;
        align-items: center;
        display: flex;
        font-size: 12px;
        padding-left: 20px;

        clip-path: none;
        -webkit-clip-path: none;
        pointer-events: all;
        transition: none;
    }

    .more_buttons {
        transform: scale(1.2);
        position: relative;
        left: 13%;
        top:20px;
    }

    .container {
        margin: 0px 10% 0px;
        grid-template-columns: 100%;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-rows: 500px 500px;
        justify-content: center;
    }

    img {
        width: 100%;
        height: 500px;
    }

    .info {
        position: absolute;
        top: 10%;
        left: 6%;
        transform: none;
        font-size: 10px;
        color: rgb(80, 80, 80);
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, visibility .4s ease-in;
    }

    .about_me {
        display: grid;
        grid-template-columns: 1fr 1fr /*400px 500px*/;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        
        margin: 0;
        padding: 10px 40px 30px;
        height: auto;
        justify-items: center;
        justify-content: center;
    }

    .about_me h1 {
        font-size: 30px;
        padding: 1rem;
        padding-right: 0px;
        padding-bottom: 0;
        margin: 0;
    }

    .about_me p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 0px;
    }

    .tim {
        object-fit: cover;
        /*
        max-width: 100%;
        height: 500px;
        */
        height: 100%;
        max-width: auto;
    }

    .g-block {
        width: 100%;
        text-align: center;
        padding-top: 100px;
    }
    
    .gcontainer {
        margin: auto;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        padding-top: 20px;
        padding-bottom: 200px;
    }
    
    .gcontainer img {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    .bobile_final {
        object-fit: cover;
        height: 100%;
        width: auto;
    }

    .bobile_final_header {
        display: flex;
        justify-content: center;
        background-color: #C3D7FF;
        height: 600px;
    }

    .ht_final {
        object-fit: cover;
        height: 100%;
        width: auto;
    }
    
    .ht_final_header {
        display: flex;
        justify-content: center;
        background-color: #FFDBDC;
        height: 600px;
    }

    .ht_container {
        grid-template-columns: 1fr 1fr; /*350px 350px*/
        grid-template-rows: auto auto auto auto auto; /* 400px auto auto auto auto 400px auto;*/
        grid-column-gap: 1.5rem;
        margin: 0;
        padding: 0 40px 0;
        margin-top: 30px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


}

@media screen and (min-width: 1050px) {
    .intro {
        height: 600px;
    }

    .projects {
        grid-template-columns: 500px 500px;
    }

    .ht_container {
        grid-template-columns: 500px 500px;
    }

    header {
        padding: 5px 35px;
    }

    .intro h2 {
        padding-top: 150px;
        font-size: 60px;
    }

    .intro p {
        font-size: 30px;
        line-height: 35px;
    }

    .more_buttons {
        transform: scale(1.5);
        position: relative;
        left: 25%;
        top: 70px;
    }

    .container {
        margin: 0px 10% 0px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    .img-one:hover, .img-two:hover {
        padding: 0px;
        transition: none;
    }

    .info {
        position: absolute;
        top: 10%;
        left: 8%;
        font-size: 16px;
        color: rgb(80, 80, 80);
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, visibility .4s ease-in;
    }

    .info p {
        font-size: 12px;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .nav_item {
        color: rgb(54, 54, 54);
        text-decoration: none;
        padding: 10px;
    }

    /*
    .about_me {
        grid-template-columns: 471.5px 471.5px;
        grid-column-gap: 10px;
    }
    */

    .g-block {
        width: 100%;
        text-align: center;
        padding-top: 100px;
    }
    
    .gcontainer {
        margin: auto;
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        padding-top: 20px;
        padding-bottom: 200px;
    }
    
    .gcontainer img {
        object-fit: cover;
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 1170px) {
    .about_me {
        grid-template-columns: 500px 650px /*471.5px 471.5px*/;
        grid-column-gap: 10px;
    }
}

/*FORM STYLING*/
form {
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 60px;

    animation-name: load_appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

legend {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
    width: 15%;
    font-size: 13px;
}

input {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    width: 100%;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}

input[type="checkbox"] {
    display: inline;
    width: inherit;
}

input[type="submit"] {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 30px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
    form {
        width: 40%;
        margin: 0 auto;
        margin-top: 100px;
    }

    input {
        width: 80%;
    }

    textarea {
        width: 80%;
        height: 10vh;
    }

    div + label {
        line-height: 5vh;
        vertical-align: top;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border-top: 0.1px solid rgb(218, 218, 218);*/

    /*border-top: 0.1px solid rgb(218, 218, 218);*/
    height: 250px;
    position: relative;
    bottom: 0px;
    width: 100vw;
    padding: 30px 0px;
    padding-left: 10%;
    line-height: 2.2em;
    color: rgb(54, 54, 54);
    margin-top: auto;
}

footer h1 {
    font-size: 14px;
    font-weight: 500;
    color: #676767;
    line-height: 1em;
}

footer h2 {
    font-size: 23px;
    font-weight: 500;
}

.social-menu ul {
    position: absolute;

    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li:nth-child(1) {
    margin-left: 0px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a:hover > .fa {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(163, 163, 163, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #0B65C2;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #171C23;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #e4405f;
}

/*
.footer_links a{
    font-size: 16px;
    padding-right: 10px;
    color: rgb(51, 51, 51);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
*/

a {
    text-decoration: none;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
    }

    .container {
        animation: none;
    }
     
    .intro h2, .intro p {
        animation: none;
    }

    .more_buttons {
        animation: none;
    }
}
/*
.final {
    height: 600px;
    width: auto;
    object-fit: cover;
}

.bobile {
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgb(215, 240, 215);
}
*/
